.bpw-layout {
  height: 500px;
  position: fixed;
  bottom: 0;
  right: 0;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 999;
  background-color: red;
}

.bpw-header-title {
  color: black;
}

.bpw-from-bot .bpw-chat-bubble .bpw-chat-bubble-content {
  color: black;
  background-color: red;
}

.bpw-header-icon:hover {
  fill: black;
}

.bpw-header-container {
  border: 1px solid black;
  background-color: red;
  border-radius: 10px;
}

.bpw-header-title-container .bpw-bot-avatar {
  display: none;
}

a {
  color: black;
}

a:hover {
  color: white;
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content {
  background-color: black;
  border-radius: 5px;
}

.bpw-send-button {
  background-color: black;
  color: red;
}

.bpw-powered {
  display: none;
}

.bpw-card-action {
  font-weight: bold;
  color: red;
  border: 1px solid black;
}

.bpw-card-container {
  border: 1px solid black;
}

.bpw-keyboard-quick_reply {
  background-color: red;
  padding: 10px;
}

.bpw-button {
  background-color: black;
  color: red;
  font-size: 14px;
}

.bpw-widget-btn {
  background-color: black;
}

.bpw-floating-button {
  box-shadow: none;
}
