.bpw-layout {
  height: 500px;
  position: fixed;
  bottom: 0;
  right: 0;
  border: 1px solid #333333;
  border-radius: 10px;
  z-index: 999;
  background-color: #FFFFFF;
}

.bpw-header-title {
  color: #333333;
}

.bpw-from-bot .bpw-chat-bubble .bpw-chat-bubble-content {
  color: #333333;
  background-color: #FFFFFF;
}

.bpw-header-icon:hover {
  fill: #333333;
}

.bpw-header-container {
  border: 1px solid #333333;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.bpw-header-title-container .bpw-bot-avatar {
  display: none;
}

a {
  color: #333333;
}

a:hover {
  color: #FF8800;
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content {
  background-color: #FF8800;
  border-radius: 5px;
  color: #FFFFFF;
}

.bpw-send-button {
  background-color: #FF8800;
  color: #FFFFFF;
}

.bpw-powered {
  display: none;
}

.bpw-card-action {
  font-weight: bold;
  color: #FFFFFF;
  border: 1px solid #FF8800;
}

.bpw-card-container {
  border: 1px solid #FF8800;
}

.bpw-keyboard-quick_reply {
  background-color: #FFFFFF;
  padding: 10px;
}

.bpw-button {
  background-color: #FF8800;
  color: #FFFFFF;
  font-size: 14px;
}

.bpw-widget-btn {
  background-color: #FF8800;
}

.bpw-floating-button {
  box-shadow: none;
}
